h1.title {
    background-image: url('imagenes/logo vertical UTV sin fondo.png');
    background-repeat: no-repeat; 
    background-position: top center ;
    background-size: 20%;
    padding: 150px;
    
  }